@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --toast-bg: white; /* Light mode background */
  --toast-text: black; /* Light mode text */
}

.dark {
  --toast-bg: #1f2937; /* Dark mode background (gray-800) */
  --toast-text: white; /* Dark mode text */
}

body {
  color: rgb(var(--foreground-rgb));
  /* padding: 1rem; */
}

/* Add smooth transitions for theme changes */
* {
  transition: background-color 100ms ease-in-out, 
              border-color 100ms ease-in-out,
              color 100ms ease-in-out;
}

/* Exclude transitions from specific elements where it might cause issues */
.no-transition,
.btn,
.avatar,
img {
  transition: none !important;
}


/* Global styles for read-only input fields */
input.read-only {
  background-color: var(--readonly-bg-color);
  cursor: not-allowed;
}

/* Add styles for toast notifications */
.toast {
  background-color: var(--toast-bg);
  color: var(--toast-text);
  /* Add any additional styles you want for the toast */
}
