@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --toast-bg: white; /* Light mode background */
  --toast-text: black; /* Light mode text */
  --scrollbar-thumb: #ccc; /* Lighter thumb color for light mode */
  --scrollbar-track: #e0e0e0; /* Lighter track color for light mode */
}

.dark {
  --toast-bg: #1f2937; /* Dark mode background (gray-800) */
  --toast-text: white; /* Dark mode text */
  --scrollbar-thumb: #555; /* Darker thumb color for dark mode */
  --scrollbar-track: #333; /* Darker track color for dark mode */
}

body {
  color: rgb(var(--foreground-rgb));
  /* padding: 1rem; */
}

/* Add smooth transitions for theme changes */
* {
  transition: background-color 100ms ease-in-out, 
              border-color 100ms ease-in-out,
              color 100ms ease-in-out;
}

/* Exclude transitions from specific elements where it might cause issues */
.no-transition,
.btn,
.avatar,
img {
  transition: none !important;
}

/* Global styles for read-only input fields */
input.read-only {
  background-color: var(--readonly-bg-color);
  cursor: not-allowed;
}

/* Add styles for toast notifications */
.toast {
  background-color: var(--toast-bg);
  color: var(--toast-text);
  /* Add any additional styles you want for the toast */
}

.custom-scrollbar-sidebar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.custom-scrollbar-sidebar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.custom-scrollbar-sidebar::-webkit-scrollbar-track {
  background: var(--scrollbar-track); /* Background of the scrollbar track */
}

.custom-scrollbar-sidebar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 1px solid var(--scrollbar-track); /* Optional: border around the thumb */
}

.custom-scrollbar-sidebar::-webkit-scrollbar-thumb:hover {
  background: #aaa; /* Slightly darker on hover for light mode */
}
